.wrapper {
    margin-top: 70px;
    padding: 20px;
}

.title {
    text-align: center;
    margin: 20px 0 40px 0;
}

.body {
    padding: 15px;
}

.join, .session {
    position: absolute;
    margin: auto;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70%;
    width: 70%;
}