@import 'normalize.css';

:root {
    --primary: #959595;
    background-color: #f2f2f2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: black;
}

td,
tr {
    border: 0.5px solid black;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
}

td {
    display: table-cell;
}

table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
