.wrapper {
    margin-top: 70px;
    height: 720px;
    background-color: #f2f2f2;
}

.container {
    padding-top: 50px;
    width: 1200px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.item {
    display: flex;
}
