.rows-1 {
    height: 100%;
    display: grid;
    grid-template-columns: 5% 26.6% 26.53% 16.82% 11.96% 13%;
    border-bottom: 1px solid rgba(22, 24, 35, 0.12);
    padding: 10px 0 10px 0;
}

.col {
    padding: 8px 5px 8px 5px;
    height: 100%;
}

.col-1 {
    display: flex;
    align-items: center;
}

.img {
    width: 80px;
    height: 80px;
    margin-right: 8px;
}

.col-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-3 {
    display: flex;
    align-items: center;
}

.col-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-6 {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-btn {
    font-size: 20px;
    border-right: 1px solid rgba(22, 24, 35, 0.12);
    padding: 5px 7px 5px 7px;
}

.add-btn {
    font-size: 20px;
    border-left: 1px solid rgba(22, 24, 35, 0.12);
    padding: 5px 7px 5px 7px;
}

.count-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    border: 1px solid rgba(22, 24, 35, 0.12);
}

.nameshop {
    font-weight: 700;
}

.addressshop {
    font-size: 13px;
}
