.wrapper {
    background-color: #fff;
    width: 990px;
    margin-left: 200px;
    margin-top: -160px;
    height: 350px;
    padding: 10px 24px 0 24px;
}

.header {
    position: relative;
    padding-bottom: 16px;
    &:after {
        content: '';
        border-bottom: 1px solid rgba(22, 24, 35, 0.12);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.user-info {
    margin-top: 36px;
}

.old-password {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.new-password {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.check-password {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.input-name {
    height: 40px;
    width: 350px;
    outline: none;
    padding: 12px;
}

.save {
    margin-left: 260px;
}

.save-btn {
    border: 1px solid #ee4d2d;
    color: #ee4d2d;
    padding: 10px 8px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 16px;
    background-color: #ee4d2d;
    color: #fff;
    width: 90px;

    &:hover {
        opacity: 0.8;
    }
}

.title {
    font-size: 16px;
    width: 26%;
    margin-right: 16px;
    text-align: right;
}
